<a href="https://colab.research.google.com/github/nikhila1999/Nikhila-/blob/master/26_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# find large number from given 3 numbers
a =int(input("enter a number"))
b =int(input("enter a number"))
c =int(input("enter a number"))
if a>b and a>c:
  print(a,"is large number")
elif b>a and b>c:
  print(b,"is large number")
else:
  print(c,"is large number")

enter a number8
enter a number6
enter a number4
8 is large number

#while statements:
###syntax:
####while boolean_condition:<br>
           statements<br>
           Increment / Decrement <br>

In [7]:
x= 0
while x<5:
  print("gitam")
  x+=1

gitam
gitam
gitam
gitam
gitam

In [15]:
# print n natural numbers using while loop
# input :10
# output :1 2 3 4 5 6 7 8 9 10
n=int(input("enter a number"))
i =1
while i<=n:
   print(i,end=" ")
   i=i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [23]:
# add only even numbers 1 to n
#input:10
#output: 30(2+4+6+8+10)
n=int(input("enter a number"))
i=1
sum=0
while i<=n:
    if i%2==0:
      sum=sum+i
    i=i+1
print(sum)

enter a number10
30

In [24]:
#input:123
#output:321
n=int(input("enter a number"))
while n!=0:
  r=n%10
  print(r,end=" ")
  n=n//10

enter a number123
3 2 1

#functional programming
- simple
- easy read
- lengthy program dividesinto sub programs
#syntax 
def nameofthefunction(<parameters>)
      statements
nameofthefunction()

In [31]:
# input:1234
#output:6 (2+4)
def addevendigit(n):
    sum=0
    while n!=0:
      r=n%10
      if r%2==0:
          sum=sum+r
      n=n//10
    return sum
addevendigit(1234)

6

In [44]:
#read input
# input:19528
# output:9
def largestofall(n):
  l=0
  while n!=0:
    r=n%10
    if r>l:
      l=r
    n=n//10
  return l
largestofall(19528)

9

In [45]:
#input: 123
#output: 321
def revofnum(n):
  while n!=0:
    r=n%10
    print(r,end=" ")
    n=n//10
revofnum(123)

3 2 1

In [46]:
#palindrome or not
#input: 121-----121--yes
#input: 121-----321--no

def ispalindrome(n):
    rev=0
    buffer=n
    while n!=0:
        r=n%10
        rev=rev*10+r
        n=n//10
    if buffer == rev:
        return "yes"
    else:
        return "no"
print(ispalindrome(123))
print(ispalindrome(121))

no
yes

In [48]:
def natural(n):
    for i in range(1,n+1):
      print(i,end=" ")
natural(10)

1 2 3 4 5 6 7 8 9 10

In [50]:
def natural(l,b):
    for i in range(l,b+1):
        print(i,end=" ")
natural(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [51]:
def natural(n):
    for i in range(100,n+1):
        print(i,end=" ")
natural(110)

100 101 102 103 104 105 106 107 108 109 110

In [52]:
def natural(l,b):
    for i in range(l,b+1,4):
        print(i,end=" ")
natural(1,10)

1 5 9

In [53]:
#using fuction
#input:1,10
#output:10,9,8,7,6,5,4,3,2,1

def reverserange(b,l):
    for i in range(l,b-1,-1):
        print(i,end=" ")
reverserange(1,10)

10 9 8 7 6 5 4 3 2 1

#data structure types:
- list
- tuple
- dictionary
#list:
- its one common data structure in python,the iteams are separated by comma and enclosed by [ ]
- crud operations
* c-create
* r-read
* u-update
* d-delete
- list can be changed or immutable
##example:
- list =[1,2,3,4]

In [55]:
li=[1,2,3,4,5]
print(li)
print(li[0])
print(li[-1])

[1, 2, 3, 4, 5]
1
5