<a href="https://colab.research.google.com/github/nikhila1999/Nikhila-/blob/master/28_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.
input str="pynative"
# output='p','n','t','v'
# complete this question using function

In [12]:
def alternative(str):
    li=list(str[0:len(str):2])
    print(li)
alternative("pynative")

['p', 'n', 't', 'v']

# 2. given a list of integers,return true if first and last number of list is same

In [32]:
def firstandlast(li):
    if li[0]==li[-1]:
        return True
    else: 
        return False
li=[1,2,3,4,5,6]
print(firstandlast(li))
li=[1,2,3,1]
print(firstandlast(li))

False
True

# print the following pattern
# 1
# 22
# 333
# 4444

In [47]:
def pattern(n):

    for i in range(1,n+1):
      for j in range(i):
        print(i,end=" ")
      print("\n")
pattern(5)

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [0]:
name=input("entar a name:")